body {
    font-family: Arial, sans-serif;
    background-color: #f5ebe0; /* Beige clair */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #8b5e3c; /* Marron */
    color: #fff; /* Texte blanc */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #a67c52; /* Beige foncé */
    border-radius: 5px;
}

button {
    background-color: #a67c52; /* Marron clair */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #7d5235; /* Marron plus foncé */
}

p {
    margin-top: 10px;
    font-weight: bold;
}
