body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f1e1; /* Beige clair */
    color: #4a2c2a; /* Marron foncé */
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B5E3C; /* Marron */
    color: white;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #8B5E3C; /* Marron */
    margin-left: 20px;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    color: #4CAF50; /* Vert pour le succès */
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    background-color: #fdf6e3; /* Beige clair */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #8B5E3C; /* Marron */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6b3a25; /* Marron plus foncé */
}

#logoutButton {
    background-color: #D2691E; /* Marron plus clair */
}

#logoutButton:hover {
    background-color: #c85e32; /* Marron clair foncé */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.message {
    text-align: center;
    font-weight: bold;
}